<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>SmoothiOS</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TÙY CHỈNH CHUNG</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Bật Tweak</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MÀN HÌNH &amp; TẦN SỐ QUÉT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>60</integer>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>TargetRefreshRate</string>
			<key>label</key>
			<string>Chọn tần số quét (Hz)</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>30</integer>
				<integer>60</integer>
				<integer>90</integer>
				<integer>120</integer>
				<integer>144</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>30 Hz</string>
				<string>60 Hz</string>
				<string>90 Hz</string>
				<string>120 Hz</string>
				<string>144 Hz</string>
			</array>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>PopupHzFix</string>
			<key>label</key>
			<string>Sửa lỗi không nhận Hz (Beta)</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>ForceHardwareHz</string>
			<key>label</key>
			<string>Ép xung khung hình</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GIAO DIỆN &amp; ĐA NHIỆM</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>ColorOsSmoothness</string>
			<key>label</key>
			<string>Tối ưu hoạt ảnh chuyển cảnh</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>FixMultiTaskLag</string>
			<key>label</key>
			<string>Giảm độ trễ khi đa nhiệm</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>FixAppExitStutter</string>
			<key>label</key>
			<string>Chống khựng khi thoát App (Beta)</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>DisableFrameThrottling</string>
			<key>label</key>
			<string>Tăng tốc độ phản hồi cảm ứng</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HIỆU NĂNG LÕI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>BoostCpuGpu80</string>
			<key>label</key>
			<string>Tối ưu tài nguyên CPU &amp; GPU</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>BoostRam70</string>
			<key>label</key>
			<string>Dọn dẹp RAM thông minh</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>GodModeMetal</string>
			<key>label</key>
			<string>Tối ưu đồ họa Metal</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>GameStutterFix</string>
			<key>label</key>
			<string>Ổn định FPS khi chơi game (Beta)</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>Ios27Scheduler</string>
			<key>label</key>
			<string>Tối ưu tiến trình hệ thống</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>SpoofModel16</string>
			<key>label</key>
			<string>Giả lập cấu hình máy mới</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NHIỆT ĐỘ &amp; PIN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>DisableThermalThrottling</string>
			<key>label</key>
			<string>Chống hạ xung khi máy nóng</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>SmartThermal</string>
			<key>label</key>
			<string>Quản lý nhiệt độ thông minh</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>DeepCoolingLoading</string>
			<key>label</key>
			<string>Hỗ trợ tản nhiệt khi tải nặng (Beta)</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>CoolingWhileCharging</string>
			<key>label</key>
			<string>Hỗ trợ làm mát khi sạc</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>MaxBatterySaver</string>
			<key>label</key>
			<string>Chế độ tiết kiệm pin</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HỆ THỐNG NÂNG CAO</string>
			<key>footerText</key>
			<string>By TaoJB | Hỗ trợ bởi : MNH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>BypassSandboxVar</string>
			<key>label</key>
			<string>Can thiệp phân vùng /var</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.taojb.boostiphone6s</string>
			<key>key</key>
			<string>EnableBetaFeatures</string>
			<key>label</key>
			<string>Bật các tính năng thử nghiệm (Beta)</string>
			<key>PostNotification</key>
			<string>com.taojb.boostiphone6s.settings/reload</string>
		</dict>
	</array>
</dict>
</plist>
