Package: com.taojb.boostiphone6s
Name: SmoothIOS
Version: 1.1.0-1-Debug
Architecture: iphoneos-arm64
Description: Next update ( hỗ trợ ios 14.0-26.0.1 iPhone 6s-15prm )
Maintainer: TaoJB, Nofree
Author: TaoJB, NoFree
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0), firmware (<= 26.0.1), preferenceloader
Conflicts: none
Replaces: none
Priority: optional
Tag: role::hacker, purpose::extension, cydia::requires=respring
Filename: pool/main/b/boostiphone6s/com.taojb.boostiphone6s_5.2.0_iphoneos-arm64.deb
Homepage: https://github.com/duchaivcyv-design/Smooth
Icon: https://github.com/duchaivcyv-design/Smooth/blob/44fe7df07d032007f33a7172df3383a6e2b2e336/BoostiPhone6s/Resources/icon.png
