Package: com.boostiphone6s.boost
Name: Boost iPhone 6s-X Beta
Version: 1.0.0-2a
Architecture: iphoneos-arm64
Description: Tối ưu AI, RAM, Nhiệt độ ép màn sử dùng màn 120 nhưng chỉ giống màn 120jz không thể ép được
Maintainer: NoFree, TaoJN
Author: NoFree, TaoJB
Section: Tweaks
Depends: firmware (>= 15.0), coreutils, preferenceloader
Tags: rootless
