<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>bundle</key>
		<string>BoostiPhone6sPrefs</string> <!-- Phải khớp BUNDLE_NAME trong Makefile -->
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>RootListController</string> <!-- Phải khớp class trong RootListController.m -->
		<key>icon</key>
		<string>icon.png</string> <!-- ★ PHẢI CÓ FILE NÀY TRONG RESOURCES/ ★ -->
		<key>isController</key>
		<true/>
		<key>label</key>
		<string>Boost iPhone 6s</string> <!-- Tên hiển thị trong Settings -->
	</dict>
</dict>
</plist>
